/* ------color scheme-----
blue: #505fce
tan: #a3735c */


*{
    font-family: "josefin Sans", sans-serif;
    box-sizing: border-box;
}

/* -----header------ */

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 2px;
}

header span {
    font-size: 1.2rem;
    color: #505fce;
}

/* -----Hamburger ---- */

.hamburger {
    background: none;
    border: none;
    color: #505fce;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
} 
.hamburger.show::before {
    content:"\00D7";
}

/* ------navigation------ */
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #505fce;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #eee;
}
.navigation a:hover {
    background-color: #a3735c;
    color: white;
}

h1 {
    margin-left: 10px;
    color: #505fce
}
/* 
------------Footer----------- */

footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

/* this relates to the whole div in class "social" in the footer */
.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}
/* each specific <a> tag css */
.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;   
    border-radius: 10px; 
}
/* here is the css where we specify the size of the actual icons
but not the container */
.social img {
    width: 22px;
    height: 22px;
}
.social a:hover {
    background-color: #ddd;

}
