/* desktop nav */
@media (min-width: 700px) {
    #menu-button {
        display: none;
    }

    #primary-nav {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}

/* desktop option cards */
@media (min-width: 700px) {
    .home-options {
        flex-direction: row;
    }

    .option-card {
        flex: 1;
    }
}


/* fish */
@media (min-width: 700px) {
    .fish-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1000px) {
    .fish-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}