/* desktop nav */
@media (min-width: 700px) {
    #menu-button {
        display: none;
    }

    #primary-nav {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    /* desktop option cards*/
    .home-options {
        flex-direction: row;
    }

    .option-card {
        flex: 1;
    }

    /* --hero -- */
    .hero {
        min-height: 360px;
    }

    .hero-copy {
        padding: 1.5rem;
    }

    .fish-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .dive-hero {
        min-height: 380px;
        background-position: center 30%;
    }
}


@media (min-width: 1000px) {
    .fish-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}