* {
    --primary-color:#028CC7;
    --secondary-color:#72B6E5;
    --accent-color:#CDB190;
}

body {
    font-family: "Roboto", sans-serif;
    padding: 20px;
    background: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Atma", cursive;
}



header, footer {
    background-color: black;
    color: white;
}

main {
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
}

div {
    background: var(--accent-color);
    padding: 20px;
    border-radius: 10px;
    border: 8px solid var(--secondary-color);   
}


